@page
@model RazorSample.Pages.Menus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu.MenuId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
